Source: hid-asusmouse
Maintainer: Kyoken <kyoken@kyoken.ninja>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9),
               dkms
Standards-Version: 4.6.0
Vcs-Browser: https://github.com/kyokenn/hid-asus-mouse/
Vcs-Git: https://github.com/kyokenn/hid-asus-mouse.git
Homepage: https://github.com/kyokenn/hid-asus-mouse/

Package: hid-asusmouse-dkms
Architecture: all
Section: kernel
Depends: ${misc:Depends},
         dkms
Description: Kernel module for ASUS mice (DKMS)
